$gris_claro:#d3d4cc;
$gris_medio_claro: #d1cbcc;
$marron_claro:#cdc4bd;
$verde_oscuro:#98a49f;
$color_negro:#191e20;
$rojo_oscuro:#b48777;
$azul_claro:#406A76;
$azul_oscuro:#2a5460;
$azul_muy_oscuro:#0F414F;
$violeta_claro:#7882AC;
$violeta_medio_oscuro:#515E91;
$violeta_oscuro:#303D74;
$rojo_oscuro:#cf7d71;


